<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Lista de usuários</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
 <ion-list>

 <ion-searchbar (ionInput)="getUsers($event)"></ion-searchbar>


  <ion-item-sliding *ngFor="let u of users" (click)="selectedItem(u.id)">

    <button ion-item >{{ u.name }}</button>

    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="trash"></ion-icon>
        <span>Del</span>
      </button>
    </ion-item-options>

  </ion-item-sliding>

 </ion-list>
</ion-content>
