page-user-create {

    $icon-size: 30px;

    .icon-col {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $icon-size;
        padding-bottom: 0;
    }

}
