<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Usuários</ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <form [formGroup]="userForm" (ngSubmit)="createUser()" >

      <ion-row padding-bottom>
        <ion-title>Cadastro de usuário</ion-title>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col col-1 class="icon-col">
          <ion-icon name="ios-person-outline"></ion-icon>
        </ion-col>  
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="id" type="number" required placeholder="ID"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col col-1 class="icon-col">
          <ion-icon name="ios-person-outline"></ion-icon>
        </ion-col>  
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="name" type="text" required placeholder="Nome"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col col-1 class="icon-col">
          <ion-icon name="ios-contact-outline"></ion-icon>
        </ion-col>    
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="user" type="text" required placeholder="Usuário"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col col-1 class="icon-col">
          <ion-icon name="ios-mail-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="mail" type="email" required placeholder="E-mail"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row padding-top>
        <ion-col>
          <button ion-button block type="submit" [disabled]="!userForm.valid">Cadastrar</button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
